* {
    box-sizing: border-box
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
}

.display {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.col {
    margin: 20px 0;
    text-align: center;
}

.cop p {
    line-height: 22px;
}

.board {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background: black;
}

.board input {
    width: 32.5%;
    height: 100px;
    margin-bottom: 6px;
    background: white;
    border: none;
    color: black;
    font-size: 32px;
    font-weight: bold;
}

.board input:last-child,
.board input:nth-last-child(2),
    .board input:nth-last-child(3) {
    margin-bottom: 0;
}